.item1 {
  grid-area: header;
  height: max-content;
  padding: 20px;
  text-align: left !important;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
  height: max-content;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu main main main main main';
  gap: 10px;
  background-color: #eee;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 18px;
  padding: 5px;
}